html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
     background-color: #e5ffcc;

}

#encabezado{
     padding: 0px;
     padding-left: 200px; 
    background-color: #f5f5f0;

   
}

#ingresar{
  text-shadow: 4px 4px 10px orange; 
  bottom: 8px;
  right: 16px;
  font-size: 15px;
  float: right;
  width: 300px;
  border: 5px solid #ffffff;
  padding: 10px;
  margin: 20px; 
  margin-right: 200px; 
  background-color: #f5f5f0;
        

}
#registro{
  text-shadow: 4px 4px 10px orange; 
  bottom: 30px;
  right: 16px;
  font-size: 15px;
  float: right;
  width: 300px;
  border: 5px solid #ffffff; 
  padding: 10px;
  margin: 10px; 
  margin-right: 50px; 
}
#img{
     width: 300px;
  margin-top: 30px; 
  margin-left: 50px; 
}

.btnregistro{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border: 2px solid gray;
    background-color: #d6d5d2;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}


.dropdownmenu{
    position: relative;
    display: inline-block;
}
.contenidodropdown{
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#barraarriba{
    background-color: black;
    height: 20%;
    color: white;
    font-family: Georgia,serif;
    text-align: center;
    width: 100%;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
background-color: #333;
  

}
li{
    float: left;
    border-right: 1px solid #bbb;
}
li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a:hover{
    background-color: #ff8000;
    color: black;
}

.btnajustes{
    border-left: 1px solid #bbb;
}

#PrincIzq{
    float:left;
    background-image: url('verticalIzquierda.jpg');
    width:24.85%;
    height: 80%;
    position: absolute;
    margin-top: 33px;
    opacity: 0.5;

}
.btnmatch{
    color: black;
    border: 4px solid hotpink;
    background-color: #fad4f6;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
}

#PrincDerecha{
    background-color: #b778fa;
    float:right;
    width:7%;
    height:80%;
    position: absolute;
    margin-top: 33px;
    margin-left: 93%;

}

#PrincCentro{
    background-color: #b0dbe8;
    float:left;
    width:70%;
    height: 80%;
    position: absolute;
    margin-top: 33px;
    margin-left: 24.85%;
}

#TextoEspacio{
    width: 270px;
    height: 70px;
    margin-left: 20px;
}

#btnpublicar{
    margin-left: 20px;
}

#divPosts{
    background-color: #fad193;
    color: black;
    border: 2px solid black;
    

}

#datosPerfil{
    position: relative;
    display: inline-block;
}

#Estados{
      
       width: 300px;
  margin-top: 0px; 
  margin-left: 300px;;

}


@media screen and (max-width:450px){
    #encabezado{
        height:100%
        padding-left: 40px;
    }
    
    #ingresar{
        float:none;
        width: 75%;
        position: relative;
    }
    #registrasNuevo{
        float:right;
        width: 70%;
    }

    #img{
        visibility: hidden;
    }
}
@media screen and (max-width:770px){
    #encabezado{
        height:100%
        padding-left: 40px;
    }
#ingresar{
        float:none;
        width: 75%;
        position: relative;
    }
    #registrasNuevo{
        float:left;
        margin-right: none;
        margin: none;
        padding: 10px;
        
    }

    
}




