<!DOCTYPE html>
<html>
<head>
	<title>Carrito</title>
	 <link rel="stylesheet" type="text/css" href="EstilosCarrito.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="text/javascript" src="funcionComprar.js"></script>
</head>
<body onload="desplegar()">
	<div id="barraArribaCarrito">
		<ul>
		<li><a href="principal.html"><img src="flecha.jpg" width="20" height="15"> Principal</a></li>
		<li style="float:right" class="btnSalir"><a href="index.html">Salir</a></li>
	</ul>
	<div id="TituloCarrito">
		<h2>Carrito</h2>
	</div>
	</div>
	<div id="Contenido">
		<input type="text" id="TextField">
		
	</div>
</body>
</html>
