<!DOCTYPE html>
<html>
<head>
    <title> Orange </title>
    <link rel="stylesheet" type="text/css" href="../assets/css/diseno.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="text/javascript" src="../assets/js/login.js"></script>
    <link rel="shortcut icon" href="https://1.bp.blogspot.com/-V7R9_de9UuQ/Xl27Yi0mGTI/AAAAAAAALoc/6wRB8obHuQQSzx0i6V5aVa59wQlOggglACEwYBhgL/s640/icono.png" type="image/x-icon">


<body >

<div id="encabezado" >
    
     
    <img src="https://1.bp.blogspot.com/-j1qaqvm7Je8/XoKspSLeqtI/AAAAAAAAL0g/aUaEFjuPM2kab2LXZsNGUsAFqTDwnuaiQCLcBGAsYHQ/s1600/Sin%2Bt%25C2%25B0tulo.png" width="300" height="200" id="logotipo">

     <div id="ingresar">
          <form >
            <label  for="username">Usuario:</label><br>
            <input id="usser" type="name"><br>
            
            <label for="password">Contraseña:</label><br>
            <input id= "passw"type="password"><br>
           <a href="#" style="color:#FF0000 alt="#" onClick="alert('¡Hemos enviado un email para que puedas cambiar tu contraseña!')">
            <p >Olvidó su contraseña? </p> </a>
             <input type= "button" value="Ingresar" id="input-item" onclick="ingresar()">
    </div>
        </div>
         <div id="registro">

             <p >Crea una cuenta</p> 

            <label id= "nomUsser" for="username"> Nombre de usuario: </label><br>
            <input type="text" id="username" name="username"><br>

            <label id= "nombreUsuario" for="nombre">Nombre completo:</label><br>
            <input type="text" id="nombre" name="nombre"><br>

            <label id= "passwUsser"for="pass"> Contraseña:</label><br>
            <input type="password" id="pass"><br>
            
            <br> 
            <input type= "button" value="Registrarse" id="input-item" onclick="registrar()">
            
          
    </div>

</html>
<head>
