*{	
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
}
body{
	  background-color: lavenderblush;
}


#barraArribaCarrito{
	background-color: black;
	height: 20%;
	color: white;
	font-family: Georgia,serif;
	text-align: center;
	width: 100%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
background-color: #333;

}
li{
	float: left;
	border-right: 1px solid #bbb;
}
li a{
	display: block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}
li a:hover{
	background-color: #ff8000;
	color: black;
}

.btnSalir{
	border-left: 1px solid #bbb;
	border-right: none;
}
#TituloCarrito{
	 background-color: #eafc83;
	 color: black;
	 font-family: 'Roboto', sans-serif;
	 width: 100%;
	 padding: 1px;
text-align: center;
}

#item{
	width: 100%;
	background-color: ivory;


}

.imgCarrito{
	max-width: 100px;
	max-height: 100px;
	border-radius: 10%;
	float: left;
}

.resultado{
	width: 100%;
	height: 30%;
	border:1px solid black;
}
